h1,
h2 {
  text-align: center;
  color: rgb(0, 20, 87);
}

h3 {
  color: #3194c6;
}

header {
  background-image: url("IMG_1815.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  transition: ease-in 0.5s;
}


.top-hero {
  background: rgba(148, 146, 146, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header img {
  border: 10px solid #ccc;
  width: 80%;
}
.tags span {
  border: 1px solid #e49578;
  padding: 5px 10px;
  color: #e49578;
  border-radius: 8px;
  font-size: 0.8rem;
  display: inline-block;
  margin: 2px;
}
